@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, html, body {
    padding: 0px;
    margin: 0px;
}

.fContainer {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/image/backgroundhome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(26, 26, 26);
    align-content: center;
}


.logreg {
    display: flex;
    position: absolute;
    right: 2vh;
    top: 4vh;

}

.wrap-logreg {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(175, 175, 175);
}

    .wrap-logreg > a {
        text-decoration: none;
        color: white;
        padding: 2px;
        font-size: 11px;
    }

.logreg {

}

.logreg > a > img {
    display: none;
}

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


        .brand {
            background: linear-gradient(
                to right,
                #ffffff 20%,
                #91c6ff 30%,
                #ffffff 70%,
                #a4dcff 80%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 500% auto;
            animation: textShine 5s ease-in-out infinite alternate;
            font-family: "Special Gothic Expanded One", sans-serif;
            padding-bottom: 20px;
            font-size: 47px;
            transition: all .3s ease-out;
            letter-spacing: 2px;
        }

        @keyframes textShine {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }

            .brand > a {
                transition: all .5s ease-out;
            }

            @media (max-width: 529px) {
                .brand > a {
                    font-size: 40px;
                    transition: all .3s ease-out;
                }
            }


        .search {
            padding-bottom: 16px;
        }

            .box-search > input {
                width: 400px;
                height: 32px;
                border-radius: 10px 0px 0px 10px;
                outline: none;
                transition: all .3s ease-out;
                border: none;
            }

            .box-search input[type="text"] {
                padding-left: 20px;
                font-size: 11px;
            }

            .box-search > button {
                background-color: rgb(255, 255, 255);
                border: none;
                outline: none;
                height: 32px;
                width: 32px;
                float: right;
                border-radius: 0px 10px 10px 0px;
                cursor: pointer;
            }

            .box-search > button:hover {
                background-color: #2c8ee4;
                transition: all .3s ease-out;
            }

            @media (max-width: 529px) {
                .box-search > input {
                    width: 260px;
                }

                .box-search > button {
                    width: 35px;
                }
                
                .search input[type="text"] {
                    font-size: 10px;
                }
            }

            .box-search::after {
                content: "";
                clear: both;
                display: table;
            }

    .content1 {
        display: flex;
        align-items: center;
        max-width: 600px;
        cursor: default;
    }

    .isicontent > a {
        padding: 3px;
        cursor: default;
    }

        .isicontent > a > button {
            color: white;
            background-color: rgb(36, 36, 36, 38%);
            padding-left: 9px;
            padding-right: 9px;
            padding-bottom: 4px;
            padding-top: 4px;
            border-radius: 3px;
            width: fit-content;
            font-size: 11px;
            border: none;
            outline: none;
            transition: all .3s ease-out;
            cursor: pointer;
        }

        .isicontent > a > button:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(37, 168, 255);
            transition: all .1s ease-out;
        }

    @media (max-width: 390px) {
        .isicontent > a > button {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 8px;
        }
    }

    @media (max-width: 529px) {
        .isicontent > a > button {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 8px;
        }
    }

.content2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isisubcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .category > span {
        display: flex;
        color: rgb(179, 179, 179);
        font-size: 11px;
        cursor: default;
    }

        @media (max-width: 529px) {
            .category {
                display: none;
            }

            .content2 {
                padding-right: 10px;
            }
        }

.widgetwarp {
    background-color: rgb(6, 6, 6, 40%);
    margin-left: 10px;
    padding: 4px 9px 4px 9px;
    border-radius: 4px;
}

    .widgetwarp > a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .widgetname {
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding-left: 5px;
    }

    .widget-game {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: url(/assets/image/idk.gif);
        background-size: cover;
        background-position: center;
    }

        @media (max-width: 529px) {
            .widgetname {
                font-size: 10px;
            }
        }

.penutup {
    display: flex;
    align-content: center;
    justify-content: center;
}

.penutup > span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    position: absolute;
    bottom: 2vh;
    opacity: 60%;
    cursor: default
}

    .penutup > span > strong > a {
        text-decoration: none;
        color: white;
    }

        @media (max-width: 480px) {
            .penutup > span {
                font-size: 7px;
            }
        }